.navbar-container {
    max-width: 255px;
    height: 100vh;
    background-color: var(--primary);
    padding: 1rem;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.navbar-header h1 {
    color: var(--text-white);
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar-header-icon {
    background: linear-gradient(45deg, #3988e5 0%, #2d97a5 100%);
    padding: 0.25rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--light);
}

.navbar-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.navbar-link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1rem;

    border: none;
    border-radius: 12px;
    background: transparent;
    color: var(--dark-lite);
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.navbar-link:hover {
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--text-white)
}

.navbar-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: auto;
}

.navbar-footer-user {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 0.75rem 1rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 0.75rem;
    color: var(--text-white);
    font-size: 0.875rem;
}