@import './variables.css';

.app-container {
    display: flex;
    min-height: 100vh;
    background-color: var(--background);
}

.app-main {
    flex: 1;
    margin-left: 255px;
    width: calc(100% - 255px);
}

